@charset "utf-8";

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .7);
  box-sizing: border-box;
  overflow: auto;
}
.modal.active {
  display: flex; /* Ponsitions content centered */
  align-items: center;
  justify-content: center;
}

/* Content */
.modal-content { position: relative; }

/* Close button */
.modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: center;
}

/* Button—or anchor—to open modal */
.modal-button { cursor: pointer; }



/** TEST **/
.modal-content.html {
  max-width: 800px;
  background: #fff;
  padding: 60px;
}
